body {
  background: #efefef;
}

.hl-decision {
  border-bottom: thin solid #b8b8b8;
}

.hl-choice {
  height: 80px;
  margin: 10px 0;
  line-height: 80px;
}

.hl-choice input[type=radio] {
  display: inline-block;
  vertical-align: middle;
  margin: 0 5px 0 0;
}

.hl-choice input[type=radio]:checked {
  border-left: 4px solid #f0f0f0;
}

.hl-choice svg {
  top: 0;
  position: absolute;
}

.hl-choice canvas {
  top: 0;
  position: absolute;
}

.anchor-button {
  display: block;
  width: inherit;
  height: 200px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  line-height: 200px;
  font-size: 48px;
  background: #00b64f;
  color: #ffffff;
  border: 0;
  border-bottom: 8px solid #007633;
}

.anchor-button:hover {
  background: #37da7e;
  color: #ffffff;
  border-bottom: 8px solid #00b64f;
}

.anchor-button:active {
  margin-top: 28px;
  height: 192px;
  background: #007633;
  color: #ffffff;
  border-bottom: none;
}

.anchor-button:visited {
  text-decoration: none
}

.anchor-button:disabled {
  height: 200px !important;
  margin-top: 20px !important;
  cursor: default !important;
  background: #ff4040 !important;
  border-bottom: 8px solid #a60000 !important;
}

/*body {
    background: #efefef;
}

.decision {
  position: relative;
  overflow: auto;
  padding: 20px 0;
  border-bottom: thin solid #b8b8b8;
}

.choice {
  position: relative;
  margin: 0;
  padding: 0;
  float: left;
  width: 50%;
}

.choice input[type=radio] {
  display: block;
  float: left;
  margin: 0 10px;
  height: 100px;
}

.outcome-view {
  position: absolute;
  left: 40px;
  top: 10px;
  bottom: 10px;
  right: 10px;
}

.choice:hover {
  background: #e0e0e0;
}

.choice input[type=radio]:checked {
  border-left: 4px solid #f0f0f0;
}

.anchor-button {
  display: block;
  width: inherit;
  height: 200px;
  margin-bottom: 20px;
  text-align: center;
  line-height: 200px;
  font-size: 48px;
  background: #00b64f;
  color: #ffffff;
  border: 0;
  border-bottom: 8px solid #007633;
}

.anchor-button:hover {
  background: #37da7e;
  color: #ffffff;
  border-bottom: 8px solid #00b64f;
}

.anchor-button:active {
  margin-top: 8px;
  background: #007633;
  color: #ffffff;
  border: none;
}

.anchor-button:visited {
  text-decoration: none
}

.anchor-button:disabled {
  height: 200px !important;
  margin-top: 0px !important;
  cursor: default !important;
  background: #ff4040 !important;
  border-bottom: 8px solid #a60000 !important;
}*/