<div ng-controller="HoltLauryController">
  <div class="container">
    <div class="row hl-decision" ng-repeat="decision in decisions">
      <div class="hl-decision-label">
        {{$index + 1}}
      </div>
      <div class="col-md-6 hl-choice">
        <input id="choice-{{$index}}-0"
               name="decision-{{$index}}"
               type="radio"
               ng-model="subjectDecisions[$index]"
               value="0"
               ng-click="selectOption($index, 0)">
        <label for="choice-{{$index}}-0">
          <span ng-if="redwoodLoaded">
            <div choice-view 
                 class="hl-outcome-view"
                 treatment="config.treatment"
                 choice="decision[0]"
                 show-probability="config.showProbability"
                 show-payoff="config.showPayoff"
                 primary-color-1="config.keyColor1"
                 secondary-color-1="config.tintColor1"
                 primary-color-2="config.keyColor2"
                 secondary-color-2="config.tintColor2"
                 height-scale="heightScale"></div>
          </span>
        </label>
      </div>
      <div class="col-md-6 hl-choice">
        <input id="choice-{{$index}}-1"
               name="decision-{{$index}}"
               type="radio"
               ng-model="subjectDecisions[$index]"
               value="1"
               ng-click="selectOption($index, 1)">
        <label for="choice-{{$index}}-1">
          <span ng-if="redwoodLoaded">
            <div choice-view 
                 class="hl-outcome-view"
                 treatment="config.treatment"
                 choice="decision[1]"
                 show-probability="config.showProbability"
                 show-payoff="config.showPayoff"
                 primary-color-1="config.keyColor1"
                 secondary-color-1="config.tintColor1"
                 primary-color-2="config.keyColor2"
                 secondary-color-2="config.tintColor2"
                 height-scale="heightScale"></div>
          </span>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <button class="anchor-button"
                ng-click="finishPeriod()"
                ng-disabled="unansweredQuestions > 0 || periodOver"
                ng-switch="unansweredQuestions">
          <span ng-switch-when="1">
            1 Unanswered Question
          </span>
          <span ng-switch-when="0">
            I'm Done!
          </span>
          <span ng-switch-default>
            {{unansweredQuestions}} Unanswered Questions
          </span>
        </button>
      </div>
    </div>
  </div>
</div>